{% extends "::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Les cours de salsa
{% endblock %}

{% block body %}

<h1>Les cours de salsa</h1>
<h2>Calendrier</h2>
<p>
	Tous nos cours sont en périodes scolaires.<br/>
	Rappel des dates de vacances :
</p>
<ul>
	<li>Toussaint: 19 octobre au 4 novembre</li>
	<li>Noël: 21 décembre au 6 janvier</li>
	<li>Février: 17 février au 3 mars</li>
	<li>Pâques: 12 avril au 28 avril</li>
	<li>Grandes vacances: 5 juillet au 9 septembre </li>
</ul>
<h2>Salsa</h2>
<h3>Horaires des cours</h3>
<p>
	Deux cours de 1 heure tous les lundis et mercredi à compter du 23 septembre<br/>
	19h à 20h (débutant)<br/>
	20h à 21h (intermédiaire/confirmé)
</p>
<h3>Lieux</h3>
<h4>Centre socioculturel Noguès</h4>
<p>
	5/7 avenue de la porte de vanves <br/>
	Métro Porte de Vanves
</p>
{% endblock %}