{% extends "::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Les cours de zumba
{% endblock %}

{% block body %}

<h1>Les cours de zumba</h1>

<h2>Calendrier</h2>
<p>
	Tous nos cours sont en périodes scolaires.<br/>
	Rappel des dates de vacances :
</p>
<ul>
	<li><strong>Toussaint</strong>: 19 octobre au 4 novembre</li>
	<li><strong>Noël</strong>: 21 décembre au 6 janvier</li>
	<li><strong>Février</strong>: 17 février au 3 mars</li>
	<li><strong>Pâques</strong>: 12 avril au 28 avril</li>
	<li><strong>Grandes vacances</strong>: 5 juillet au 9 septembre </li>
</ul>
<h2>Zumba</h2>
<h3>Horaires des cours</h3>
<p>
	Deux cours de 45 minutes tous les lundis à compter du 9 septembre<br/>
	19h à 19h45 (30 personnes max)<br/>
	19h45 à 20h30 (30 personnes max)<br/>
	un cours de 1 heure tous les mercredis<br/>
	19h30 à 20h30
</p>
<h3>Lieux</h3>
<h4>Salles des sports Rosaparks</h4>
<p>
	<strong>Lundi</strong><br/>
	5 au 13 rue du Moulin aux Lapins,<br/>
	75014 Paris<br/>
	Métro Pernety, ligne 13<br/>
</p>
Velib':
<ul>
	<li>Station N° 14031, 11 rue didot</li>
	<li>Station N° 14030, 61 rue pernety</li>
	<li>Station N° 14104, 4 rue boyer barret</li>
</ul>
<h4>Centre socioculturel Noguès</h4>
<p>
	<strong>Mercredi</strong><br/>
	5/7 avenue de la porte de vanves<br/>
	Métro Porte de Vanves
</p>

{% endblock %}