{% extends "::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Les stages
{% endblock %}

{% block body %}

<h1>Les stages</h1>
<p>
	Ce sont des cours de 3h de zumba ou autre danse latino.
</p>
<h3>Horaires des cours</h3>
<p>
	Tous les 15 jours le dimanche après midi de 14h à 17h
</p>
<h2>Lieux</h2>
<h3>Salles des sports Rosaparks</h3>
<p>
	5 au 13 rue du Moulin aux Lapins,<br/>
	75014 Paris<br/>
	Métro Pernety, ligne 13
</p>
Velib' :
<ul>
	<li>Station N° 14031, 11 rue didot</li>
	<li>Station N° 14030, 61 rue pernety</li>
	<li>Station N° 14104, 4 rue boyer barret</li>
</ul>

<h3>Centre socioculturel Noguès</h3>
<p>
	5/7 avenue de la porte de vanves<br/>
	Métro Porte de Vanves
</p>
{% endblock %}
