{% extends "::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Infos Pratiques
{% endblock %}

{% block body %}

<h1>Infos Pratiques</h1>
<div class="col-md-6">
	<h2>Contact</h2>
	alocubanovo@gmail.com

	<h2>Adresse</h2>
	<p>
		ALOCUBANOVO<br/>
		Maison des associations<br/>
		22, rue Deparcieux<br/>
		75014 paris
	</p>

	<h2>Lieux</h2>
	<h3>Salles des sports Rosaparks</h3>
	<p>
		5 au 13 rue du Moulin aux Lapins,<br/>
		75014 Paris<br/>
		Métro Pernety, ligne 13
	</p>
	Velib' :
	<ul>
		<li>Station N° 14031, 11 rue didot</li>
		<li>Station N° 14030, 61 rue pernety</li>
		<li>Station N° 14104, 4 rue boyer barret</li>
	</ul>

	<h3>Centre socioculturel Noguès</h3>
	<p>
		5/7 avenue de la porte de vanves<br/>
		Métro Porte de Vanves
	</p>
</div>
<div class="col-md-6">
	<h2>Calendrier</h2>
	<p>
		Tous nos cours sont en périodes scolaires.
		Rappel des dates de vacances :
	</p>
	<ul>
		<li>Toussaint: 19 octobre au 4 novembre</li>
		<li>Noël: 21 décembre au 6 janvier</li>
		<li>Février: 17 février au 3 mars</li>
		<li>Pâques: 12 avril au 28 avril</li>
		<li>Grandes vacances: 5 juillet au 9 septembre </li>
	</ul>
	
	<h2>Tarifs</h2>
	<p>
		<strong>Zumba</strong><br/>
		Carte d’adhérent: 15€<br/>
		Plein: 200€ l’année<br/>
		Réduit (étudiants, chomeurs, …): 150€
	</p>

	<p>
		<strong>Salsa</strong><br/>
		Carte d’adhérent: 15€<br/>
		Plein: 220€ l’année<br/>
		Réduit (étudiants, chomeurs, …): 170€
	</p>

	<p>
		<strong>Stage</strong><br/>
		Tarifs adhérent: 5€<br/>
		Tarifs externe: 10€<br/>
	</p>
</div>
{% endblock %}