@font-face {
  font-family: 'gooddogregular';
  src: url("../fonts/gooddog-webfont.eot");
  src: url("../fonts/gooddog-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gooddog-webfont.woff") format("woff"), url("../fonts/gooddog-webfont.ttf") format("truetype"), url("../fonts/gooddog-webfont.svg#gooddogregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'existencelight';
  src: url("../fonts/existence-light-webfont.eot");
  src: url("../fonts/existence-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/existence-light-webfont.woff") format("woff"), url("../fonts/existence-light-webfont.ttf") format("truetype"), url("../fonts/existence-light-webfont.svg#existencelight") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* COLORS */
/* IMAGES */
/* WYSIWYG style */
.Bold {
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
}

#header {
  background-color: white;
}
#header div.container {
  position: relative;
}
#header div.container h1 {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  background: url('../img/alocubanovo.jpg?1392629086');
  width: 130px;
  height: 74px;
  margin: 0;
}
#header div.container nav {
  border: none;
  background-color: transparent;
}
#header div.container nav #main-menu > ul {
  margin-top: 17px;
}

#content .container {
  min-height: 500px;
  padding-bottom: 40px;
}
#content .container h2 {
  font-family: existencelight;
  color: #3d3d3d;
}
#content .container div.col-md-12 > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#content .container div.col-md-12 > ul li a {
  display: block;
}
#content .container div.col-md-12 > ul li p {
  color: #3d3d3d;
}
#content .container div.col-md-12 .catch {
  font-size: 16px;
  font-weight: bold;
}

#galeries .thumbnail .caption h3 {
  margin: 0;
  text-align: center;
}

#footer {
  background-color: #2d2d2d;
  color: #ededed;
  padding: 20px 0;
}
#footer .row > div h3 {
  margin-top: 0;
}
#footer .row > div:first-child {
  border-right: 1px dashed #ededed;
}
#footer .row > div:nth-child(2) {
  border-right: 1px dashed #ededed;
}
#footer .row > div:nth-child(2) h3 {
  text-align: center;
}
#footer .row > div:nth-child(2) p {
  text-align: justify;
}
#footer .row > div:last-child {
  border-right: none;
}
#footer .row > div:last-child h3 {
  text-align: right;
}
#footer .row > div:last-child p {
  text-align: right;
}
#footer ul {
  list-style: none;
  padding: 0;
}
#footer ul li {
  padding: 10px 0;
  border-bottom: 1px dashed #ededed;
}
#footer ul li a {
  color: #ededed;
}
#footer .copyright {
  text-align: right;
}
